<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
	<title><!--{$g.sitename}--></title>
	<meta name="keywords" content="<!--{$g.keywords}-->">
	<meta name="description" content="<!--{$g.description}-->">
	<include file="Public/Common/style.html" />
</head>
<body>
<div class="container">
	<include file="Public/Home/header.html" />
	<div class="wp cl">
		<section class="wp cl">
			 <div class="slide z cl">
                <ul class="slidebox">
                  <volist name="slides" id="vo">
                  	<li>
                  		<a href="<!--{$vo.url}-->"><img src="/<!--{$vo.pic}-->" alt="<!--{$vo.title}-->" data-url=""></a>
                  		<em><!--{$vo.title}--></em>
                  	</li>
                  </volist>
                </ul>
              </div>
              <!-- //幻灯片位置结束 -->
              <div class="recommend">
              		<ul class="recommend-list">
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-1"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-2"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-3"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-4"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-5"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-6"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-7"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              			<li>
              				<a href="">
	              				<img src="/Uploads/images/slides/20150214/54df0bd3dcdb9.jpg" alt="" data-url="">
	              				<em class="recommend-bg-color-8"></em>
	              				<span>来了一个美女，真的是美女哦</span>
              				</a>
              			</li>
              		</ul>
              </div>
              <!-- //首页重点推荐头条结束 -->
		</section>
		<div class="mb20 cl"></div>
		<!-- 内容更新动态展示区域 -->
		<section class="wp cl">
			<div class="col-3 mr20 cl">
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>今日文山</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<i class="fa fa-spinner fa-spin"></i>
						<volist name="new_news" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- /end col -->
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>兴趣圈</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_news" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
			</div>
			<!-- 第一列结束 -->
			<div class="col-3 mr20">
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>同城交友</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_thread" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>旅游户外</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_thread" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
			</div>
			<!-- 第二列结束 -->
			<div class="col-3 cl">
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>吃喝玩乐</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_recommend" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
				<div class="col">
					<div class="col-header">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>互帮互助</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_thread" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
			</div>
			<!-- 第三列结束 -->
		</section>
		<!-- //end -->
		<!-- 分类信息 -->
		<section class="wp cl">
			<div class="col-3 mr20 cl">
				<div class="col">
					<div class="col-header top-2-px">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>今日招聘</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_recommend" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
			</div>
			<!-- //end col-3 -->
			<div class="col-3 mr20 cl">
				<div class="col">
					<div class="col-header top-2-px">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>住房租售</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_recommend" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
			</div>
			<!-- //end col-3 -->
			<div class="col-3 cl">
				<div class="col">
					<div class="col-header top-2-px">
						<a href="<!--{$g.siteurl}-->/forum.php/forum/10.html" class="col-more">MORE</a>
						<h3>二手市场</h3>
					</div>
					<div class="col-body">
						<ul class="col-list">
						<volist name="new_recommend" id="vo">
							<li><a href="<!--{$g.siteurl}-->"><i></i></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<!-- //end col -->
			</div>
			<!-- //end col-3 -->
		</section>
		<!-- //end -->
		<!-- 摄影美图集合 -->
		<section class="wp cl">
			
		</section>
		<!-- //end -->
	</div>
	<include file="Public/Home/footer.html" />
</div>
</body>
</html>