<include file="Modules/Admin/Template/default/common/header.html"/>
<section class="main">
	<div class="info-title">欢迎使用Weicme v4.0内容管理系统</div>
   	<div class="col cl">
		  <div class="partition">安全提示</div>
		  <div class="pcol cl">
		     <p>您已经正常使用网站，建议您删除install目录下的index.php文件</p> 
		     <p>访问我们的官方网站获取更多的支持。http://www.weicme.com</p>   
		  </div>
	</div>
	<div class="col cl">
		<div class="partition">系统信息</div>
   		<div class="pcol">
   			<ul class="list-group">
			  <li>访问地址：<a href="http://<?php echo $_SERVER{'HTTP_HOST'};?>" target="_blank"><?php echo $_SERVER{"HTTP_HOST"};?></a></li>
			  <li>服务器IP：<?php echo get_client_ip()?></li>
			  <li>PHP版本：<?php echo PHP_VERSION;?></li>
			  <li>当前请求时间：<!--{$Think.NOW_TIME|date="Y-m-d H:i:s",###}--></li>
			</ul>
   		</div>
	</div>
	<div class="col cl">
		<div class="partition">程序信息</div>
		<div class="col">
			<ul class="list-group">
			  <li>程序版本：WeiTCMs v4.0 <a href="http://weitcms.wei2.wang" target="_blank">访问官网</a></li>
			  <li>授权：<a href="javascript:;">获取授权</a></li>
			  <li>程序支持：<a href="http://www.wei2.wang">微图网</a></li>
			  <li>联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=763093576&site=qq&menu=yes">QQ在线</a></li>
			</ul>
		</div>
	</div>
</section><!--//End main -->
<include file="Modules/Admin/Template/default/common/footer.html"/>