<include file="Modules/Admin/Template/default/common/header.html"/>
<section class="local-name">
    <strong class="xs6 normal">文章编辑</strong>
</section>
<section class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="<!--{:U('PortalHandle/edArticle')}-->" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<!--{$ed.id}-->">
                <input type="hidden" name="litpic" value="<!--{$ed.litpic}-->">
                <table class="table">
                    <tbody>
                       <tr>
                            <td>标题</td>
                            <td>
                                <select name="cid" class="form-control mr10">
                                    <option value="">栏目</option>
                                    <volist name="channel" id="vo">
                                        <option value="<!--{$vo.id}-->" <if condition="$ed['cid'] eq $vo['id']">selected = "true"</if>><!--{$vo.html}--><!--{$vo.name}--></option>
                                    </volist>
                                </select>
                                <input type="text" name="title" class="form-control w400" value="<!--{$ed.title}-->">
                            </td>
                        </tr>
                        <tr><td>文章内容</td>
                            <td>
                                <textarea name="body" id="Content"><!--{$ed.body|htmlspecialchars_decode|stripslashes}--></textarea>                                    
                            </td>
                        </tr>
                        <tr>
                            <td>关键字</td>
                            <td><input type="text" name="keywords" class="form-control w500" value="<!--{$ed.keywords}-->"></td>
                        </tr>
                         <tr>
                            <td>简要描述</td>
                            <td><input type="text" name="description" class="form-control w600" value="<!--{$ed.description}-->"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" class="btn btn-success" value="保存"></td>
                        </tr> 
                    </tbody>
                </table>
            </form>
        </div>   
    </div>
</section>
<include file="Modules/Admin/Template/default/common/footer.html"/>
<js file="/Static/ueditor/ueditor.config.js"/>
<js file="/Static/ueditor/ueditor.all.min.js"/>
<js file="/Static/ueditor/ue_config.js"/>
</body>
</html>