<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><!--{$u.username}-->- <!--{$whos}-->帖子 - <!--{$g.sitename}--></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<include file="Public/Common/style.html" />
	<css file="__mcss__/member.min.css"/>
</head>
<body>
<div class="container">
	<include file="Public/Home/header.html" />
	<include file="Public/Member/header.html" />
	<div class="wp cl">
		<div class="home-main"></div>
		<include file="Public/Member/aisde.html" />
	</div>
	<include file="Public/Home/footer.html" />