<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
	<title><!--{$nav.name}--> - <!--{$g.sitename}--></title>
	<meta name="keywords" content="<!--{$nav.keywords}-->">
	<meta name="description" content="<!--{$nav.keywords}-->">
<include file="Public/Common/style.html" />
</head>
<body>
<div class="container">
	<include file="Public/Home/header.html" />
	<div class="wp cl">
		<div class="big-show relative">
			<span class="big-show-title"></span>
		</div>
		<div class="localtion">
			当前位置：
			<a href="<!--{$g.siteurl}-->"><!--{$g.shortname}--></a>
			<span class="xs6 xg4">&gt;</span>
			<a href="<!--{$g.siteurl}-->/<!--{$nav.url}-->.html"><!--{$nav.name}--></a>
		</div>
		<div class="wp thread-section cl">
			<div class="thread-main z cl">
				<div class="col">
					<a href="<!--{$g.siteurl}-->/member.php/post.html" target="_blank" class="thread-post-btn">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-comment-o fa-stack-2x"></i>
						  <i class="fa fa-plus fa-stack-1x"></i>
						</span> 发表帖子
					</a>
				</div>
				<div class="col page mb10">
					<!--{$page}-->
				</div>
				<div class="col">
					<div class="thread-header"><form action="" method="get" class="thread-form y">
						<input type="text" name="kw" class="form-control w160" placeholder="输入关键字"><input type="submit" class="btn" value="本版搜索"></form><i class="fa fa-comments-o"></i> 帖子
					</div>
					<div class="col">
						<ul class="thread-list">
						<volist name="list" id="vo">
							<li>
								<span class="z"><i class="forum-thread-icon"></i></span>
								<h4 class="thread-title xs4 normal"><a href="<!--{$G.siteurl}-->/thread/<!--{$vo.tid}-->.html"><!--{$vo.title}--></a></h4>
								<span class="author"><em><!--{$vo.username}--></em><!--{$vo.dateline|date="Y-m-d",###}--></span>
								<span class="reply-count"><em><!--{$vo.reply}--></em><!--{$vo.views}--></span>
							</li>
						</volist>
						</ul>
					</div>
				</div>
			</div>
			<aside class="thread-aside y cl">
				<div class="thread-name">
					<h3 class="xs20">
						<a href="<!--{$g.siteurl}-->/<!--{$nav.url}-->.html"><!--{$nav.name}--></a> 
						<span class="thread-flow"><i class="fa fa-plus"></i> 关注</span>
					</h3>
					<div class="thread-description">
						<!--{$nav.keywords}-->
					</div>
					<ul class="thread-name-count">
						<li>
							24小时新帖
							<span>244</span>
						</li>
						<li>
							24小时回复
							<span>244</span>
						</li>
						<li>
							帖子总数
							<span>244</span>
						</li>
						<li>
							回复数
							<span>244</span>
						</li>
					</ul>
				</div>
				<div class="col">
					<h3 class="thread-aside-title">帖子分类</h3>
				</div>
				<div class="col">
					<h3 class="thread-aside-title">版块推荐</h3>
				</div>
			</aside>
		</div>
	</div>
	<include file="Public/Home/footer.html" />