<include file="Modules/Admin/Template/default/common/header.html"/>
<section class="local-name">
    <strong class="xs6 normal">网站安全设置</strong><small> 设置网站安全信息</small>
</section>
<section class="main">
    <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-th-large"></span> 站点资源统计</div>
          <div class="panel-body">
            <a href="<!--{$g.siteurl}-->" target="_blank" class="tooltip-key" data-placement="bottom" title="访问网站主页">显示内容></a>
          </div>
    </div>
    <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-th-large"></span> 浏览统计</div>
          <div class="panel-body">
            显示内容
          </div>
    </div>
</section><!--//End main -->
<include file="Modules/Admin/Template/default/common/footer.html"/>