<include file="Modules/Admin/Template/default/common/header.html"/>
<section class="local-name">
    <strong class="xs6 normal">栏目编辑</strong><small> 显示栏目信息</small>
</section>
<section class="main">
    <div class="panel panel-default">
        <div class="panel-heading"><!--{$ei.name}--> 栏目编辑</div>
        <div class="panel-body">
            <form action="<!--{:U('ContentHandle/edChannel')}-->" method="post">
                <table class="table">
                    <tbody>
                        <input type="hidden" name="id" value="<!--{$ei.id}-->">
                        <tr><td width="80">名称</td><td><input type="text" name="name" id="name" class="form-control w400" value="<!--{$ei.name}-->"></td></tr>
                        <tr><td>上级</td>
                            <td><select name="pid" class="form-control w120">
                                    <option value="">请选择栏目</option>
                                <volist name="channel" id="vo">
                                    <option value="<!--{$vo.id}-->" <if condition="$ei['pid'] eq $vo['id']">selected</if>><!--{$vo.html}--><!--{$vo.name}--></option>
                                </volist>
                            </select></td>
                        </tr>
                        <tr><td>栏目链接</td><td><input type="text" name="url" id="url" class="form-control w300" value="<!--{$ei.url}-->"></td></tr>
                        <tr><td>显示模板</td><td><input type="text" name="tpl" class="form-control w300" value="<!--{$ei.tpl}-->"></td></tr>
                        <tr><td>栏目类型</td>
                            <td>
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-default active">
                                    <input type="radio" name="type" value="1" autocomplete="off" <if condition="$ei['type'] eq 1">checked</if>>单页面
                                  </label>
                                  <label class="btn btn-default">
                                    <input type="radio" name="type" value="2" autocomplete="off"<if condition="$ei['type'] eq 2">checked</if>>列表页
                                  </label>
                                  <label class="btn btn-default">
                                    <input type="radio" name="type" value="3" autocomplete="off"<if condition="$ei['type'] eq 3">checked</if>>封面页
                                  </label>
                                </div>
                            </td>
                        </tr>
                        <tr><td>导航显示</td>
                            <td>
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-default active">
                                    <input type="radio" name="nav" value="1" autocomplete="off" <if condition="$ei['nav'] eq 1">checked</if>>显示
                                  </label>
                                  <label class="btn btn-default">
                                    <input type="radio" name="nav" value="0" autocomplete="off"<if condition="$ei['nav'] eq 0">checked</if>>不显示
                                  </label>
                                </div>
                            </td>
                        </tr>
                        <tr><td>关键字</td><td><input type="text" name="keywords" value="<!--{$ei.keywords}-->" class="form-control w600"></td></tr>
                        <tr><td>栏目描述</td><td><input type="text" name="description" value="<!--{$ei.description}-->" class="form-control w600"></td></tr>
                        <tr><td>排序</td><td><input type="text" name="sort" class="form-control w80" value="<!--{$ei.sort}-->"></td></tr>
                        <tr><td>&nbsp;</td><td><input type="submit" class="btn btn-primary" value="提交保存"></td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>
<include file="Modules/Admin/Template/default/common/footer.html"/>
<script type="text/javascript" src="/Static/common/js/jQuery.Hz2Py-min.js"></script>
<script type="text/javascript">
$(function (){
    $("#name").hover(function (){
        $("#url").val($(this).toPinyin());
    });
});
</script>